In [52]:
import pandas as pd
#from rake_nltk import Rake
from rake_new2 import Rake

In [53]:
bd_df = pd.read_csv('books_descriptions.csv')

In [54]:
# Initialize Rake object
r = Rake()

def extract_keywords(text):
    r.get_keywords_from_raw_text(text)
    keywords = r.get_word_freq()
    return ', '.join(keywords)

bd_df['keywords'] = bd_df['description'].apply(extract_keywords)

# Create a new DataFrame with ISBN and keywords
bk_df = bd_df[['isbn', 'keywords']].copy()

In [78]:
bk_df.head()

            isbn                                           keywords
0  7678360941900  favorites, nearly, 100, years, classic, novels...
1  9780006163831  volume, two, stephen, donaldson, acclaimed, se...
2  9780006178736  memorable, mesmerizing, heroine, jennifer, bri...
3  9780006280897  lewis, work, nature, love, divides, four, cate...
4  9780006353287                                           donation

In [82]:
# Search if head of original dataset has good keywords
bk_df.loc[bk_df['isbn'].astype(str) == '9780439785969', 'keywords'].iloc[0]

'harry, potter, half, blood, prince, opens, war, voldemort, begun, wizarding, world, split, middle, casualties, mount, effects, even, spill, onto, muggles, dumbledore, away, hogwarts, long, periods, order, phoenix, suffered, grievous, losses, yet, wars, life, goes, ron, hermione, passed, w, l, level, exams, start, specialist, n, e, courses, sixth, year, students, learn, apparate, losing, eyebrows, process, teenagers, flirt, fight, fall, love, becomes, captain, gryffindor, quidditch, team, draco, malfoy, pursues, dark, ends, classes, fascinating, confounding, ever, receives, extraordinary, help, potions, mysterious, importantly, work, together, uncover, full, complex, story, boy, named, tom, riddle, —, became, lord, like, son, one, muggle, born, parent, raised, unloved, speaker, parseltongue, similarities, end, teenaged, deeply, interested, objects, known, horcruxes, wizard, hide, part, soul, dares, splinter, murder, must, use, tools, disposal, draw, final, secret, ’, teachers, sly, professor, horace, slughorn, finally, hold, key, weaknesses, shocking, reversal, exposes, vulnerabilities, casts, future, shadow'

In [83]:
# Search for a specific keyword
keyword = 'programming'

# Filter the DataFrame based on the keyword
filtered_df = bk_df[bk_df['keywords'].str.contains(keyword, case=False)]
matching_isbns = filtered_df['isbn'].tolist()

print(matching_isbns)

[9780131492028, 9780132370455, 9780262510875, 9780534491826, 9780596006624, 9780596523695, 9780596527082, 9780764555893, 9780879697129, 9780974514055, 9780976694007, 9781590596241, 9781845760182, 9780441014156, 9780130158857, 9780201616224, 9781932394696, 9780735619678]

In [84]:
# Save the final reduced description dataset
bk_df.to_csv('books_keywords.csv', index=False)